@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  /* justify-content: center; */
  justify-content: space-between;
  padding: 0;
  
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 8px 16px;
  margin: 8px 4px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  /* flex: 1; */
  list-style-type: none;
  display: flex;
  /* flex-flow: row nowrap; */
  gap: 16px;
  padding: 4px 16px;

    /* justify-content: center; */
}




.header,
.footer {
  /* flex: 1; */
  display: flex;
  justify-content: space-between;
  /* align-items: stretch;  */
  /* flex-flow: row nowrap; */
  /* justify-content: flex-end;   */
}

.footer {
  background-color: #eee;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}
/* 
.left-links {

}

.right-links {

} */

a {
  text-decoration: none;
  color: #666
}